.wrapper {
    background: var(--iq-body-header);
    width: calc(100% - var(--iq-width-sidebar));
    z-index: 100;
    .search {
        border-radius: 99999px;
        background-color: rgba(147, 127, 127, 0.1);
        width: 430px;
        padding: 8px 16px;
        input {
            outline: none;
            flex: 1;
        }
    }

    .result {
        top: 100%;
        box-shadow: 0 0 10px 2px rgba(147, 127, 127, 0.5);
        max-height: 500px;
        overflow: overlay;

        &::-webkit-scrollbar {
            background-color: transparent;
        }
    }

    .result::-webkit-scrollbar {
        display: none;
    }

    .is_disable {
        color: #c7c7c9;

        &:hover {
            color: #c7c7c9;
        }
    }

    .is_active {
        cursor: pointer;
    }

    .logo {
        width: 100px;
    }
}

.menu-mobi {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;

    .menu__container {
        transition: 0.3s;
        width: 300px;
        transform: translateX(-100%);
        background: #fff;
    }

    .menu__container.active {
        transform: translateX(0);
    }
}

.menu-mobi.active {
    opacity: 1;
    visibility: visible;

    body {
        overflow: hidden !important;
    }
}

.not-is-search {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    transform: translateY(-100px);
}

.is-search {
    height: 100vh;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.3s;

    .search {
        width: 100%;
        margin: 0 auto;
    }
}
