.wrapper {
    background: var(--iq-body-header);
    width: calc(100% - var(--iq-width-sidebar));
    z-index: 100;
    .search {
        border-radius: 99999px;
        background-color: rgba(147, 127, 127, 0.1);
        width: 430px;
        padding: 8px 16px;
        input {
            outline: none;
            flex: 1;
        }
    }
}
