.wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
}

.container {
    width: 40%;
    animation: appear ease 0.5s;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
