@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap');

:root {
    --iq-title-text: #222428;
    --iq-body-text: #4a525f;
    --iq-body-header: #fbfcff;
    --iq-body-bg: #ffffff;
    --iq-primary: #6a5acd;
    --iq-secondary: #a09e9e;
    --iq-success: #1ee2ac;
    --iq-warning: #ffdd31;
    --iq-danger: #ff7750;
    --iq-info: #00d0ff;
    --iq-dark: #01041b;
    --iq-light: #ccced2;
    --iq-white: #ffffff;
    --iq-black: #4a525f;
    --iq-gray: #c2c2c2;
    --iq-close: #ff4e4e;
    --iq-search: #b4a4ff;
    --iq-light-primary: #fcd9d8;
    --iq-light-secondary: #f1f2f1;
    --iq-light-success: #e1fff7;
    --iq-light-danger: #ffe4dc;
    --iq-light-warning: #fefaee;
    --iq-light-info: #f4f0ff;
    --iq-light-dark: #f0efef;
    --iq-light-close: #ffdbdb;
    --iq-light-menu: #9f8bf6;
    --iq-light-search: #5b43c7;
    --iq-light-hover: #b8b9bc;
    --iq-primary-hover: #fa3a3a;
    --iq-secondary-hover: #5b5959;
    --iq-success-hover: #0ce1a6;
    --iq-danger-hover: #f9663c;
    --iq-warning-hover: #ffdb23;
    --iq-info-hover: #03b6de;
    --iq-dark-hover: #00020f;
    --iq-border-light: #dfdfdf;
    --iq-border-danger: #ff9273;
    --iq-light-card: #ffffff;
    --iq-primary-rgb: 100, 114, 248;
    --iq-border-radius: 0px 15px;
    --iq-bg-gray: #f8f8fd;
    --iq-hover: #ea0f0f;
    --iq-color1: #4e37b2;
    --iq-color2: #02d871;
    --iq-color3: #309cf3;
    --iq-color4: #ff00ff;
    --iq-color5: #fb1f4c;
    --iq-color6: #00ced1;
    --iq-color7: #f35f3b;
    --iq-color8: #fde117;
    --iq-width-sidebar: 250px;
    --iq-height-header: 74px;
    --iq-alpha-bg: rgba(0, 0, 0, 0.05);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}

.tippy-tooltip {
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
}

.text--primary {
    color: var(--iq-body-text);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    &:hover {
        color: var(--iq-primary);
    }
}

.f-family {
    font-family: 'Poppins', sans-serif;
}

.fs-13 {
    font-size: 13px;
}

.fs-15 {
    font-size: 15px;
}

.subtitle_color {
    color: var(--iq-secondary);
}

.is_truncate {
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        text-decoration: underline;
        color: var(--iq-light);
    }
}

.is-hover-circle {
    transition: 0.3s;
    &:hover {
        background-color: #ffffff1a;
    }
}

.is_circle {
    background-color: rgb(147 127 127 / 10%);
}

.square_30 {
    width: 30px;
    height: 30px;
}

.square_40 {
    width: 40px;
    height: 40px;
}

.w-main {
    width: calc(100% - var(--iq-width-sidebar));
}

.mt-header {
    margin-top: var(--iq-height-header);
}

.col-2-4 {
    flex: 0 0 auto;
    width: 20% !important;
}

.is_repeat {
    color: var(--iq-primary);
}

.bg--primary {
    background-color: var(--iq-primary);
    color: white;
}
body::-webkit-scrollbar {
    display: none;
}

// col-md-3 col-sm-4 col-xs-6
@media only screen and (max-width: 75em) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 25% !important;
    }
}
/* For tablets: */
@media only screen and (min-width: 31.25em) and (max-width: 63.9375em) {
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33% !important;
    }
}
@media only screen and (max-width: 47.875em) {
    .col-xs-6 {
        flex: 0 0 auto;
        width: 50% !important;
    }
}
