.wrapper {
    height: 100vh;
    background: var(--iq-light-card);
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    width: var(--iq-width-sidebar);
    z-index: 2;
    .header {
        width: 45%;
        img {
            width: 100%;
        }
    }
}
