.wrapper {
    height: 100vh;
    background: var(--iq-light-card);
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    width: var(--iq-width-sidebar);
    z-index: 2;
    .header {
        width: 45%;
        img {
            width: 100%;
        }
    }
}

.nav_item {
    transition: 0.3s;
    &:hover {
        background-color: black;
    }
}

.active {
    background-color: rgba(0, 0, 0, 0.05);
    position: relative;

    a {
        color: var(--iq-primary) !important;
    }

    &::after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        height: 100%;
        left: 0;
        width: 3px;
        background-color: var(--iq-primary);
    }
}
