.wrapper {
    margin-bottom: 180px;
}

.list-song__container {
    height: 100vh;
    overflow: overlay;
}

.list-song__container::-webkit-scrollbar {
    background-color: transparent;
}

.thumbnail {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.more__container {
    width: 250px;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.2);
}

.more__item {
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: var(--iq-primary);
    }
}

.message {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 10px;
    max-width: 400px;
    animation-name: message_in, message_out; /* Kết hợp hai animation */
    animation-duration: 0.6s, 0.6s; /* Thời gian cho mỗi animation */
    animation-delay: 0s, 1.5s; /* Delay giữa hai animation */
}

@keyframes message_in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes message_out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
