.wrapper {
    margin-bottom: 180px;
}

.list-song__container {
    height: 100vh;
    overflow: overlay;
}

.list-song__container::-webkit-scrollbar {
    background-color: transparent;
}

.thumbnail {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
