.bg__new {
    background: url('https://templates.iqonic.design/muzik/html/images/dashboard/realease-song/realease-back.jpg')
        center center no-repeat;
}

.new-realeases__container {
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.2);
}

.wrapper {
    margin-bottom: 120px;
}
