.wrapper {
    margin-bottom: 120px;
}

.active {
    position: relative;
    &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        background-color: var(--iq-dark);
        bottom: -9px;
    }
}

.album {
    margin-bottom: 180px;
}
