.thumbnail {
    width: 80px;
    height: 80px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.time {
    width: 54px;
}

.wave-music {
    background: url('https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/icon-playing.gif')
        center no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}
