.action_hover {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.time {
    transition: 0.3s;
}

.wrapper {
    transition: 0.3s;
    &:hover {
        .action_hover {
            opacity: 1;
            visibility: visible;
        }

        .time {
            opacity: 0;
        }
        background-color: var(--iq-alpha-bg);
    }
}

.thumbnail {
    width: 50px;
    height: 50px;
    cursor: pointer;

    &:hover .music__container {
        opacity: 1;
    }
}

.music__container {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;

    .wave-music {
        background: url('https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/icon-playing.gif')
            center no-repeat;
        width: 100%;
        height: 100%;
        transform: scale(0.5);
    }

    .play-music {
        transition: 0.3s;
    }
}

.is_playing {
    opacity: 1;
}
.liked {
    color: var(--iq-primary) !important;
}

.like {
    color: black;
}

.more__container {
    width: 250px;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.2);
}

.add__playlist {
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.2);
    width: 216px;
    margin-left: -8px;
}

.more__item {
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: var(--iq-primary);
    }
}

.down_btn {
    min-height: 47.5px;
}

.pointer {
    cursor: pointer;
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}
