.wrapper {
    z-index: 1000;

    .song__container {
        .thumbnail {
            width: 64px;
            height: 64px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .duration__container {
        span {
            display: block;
            min-width: 50px;
            display: flex;
            justify-content: center;
        }
    }

    .duration {
        border-radius: 9999px;
        width: 500px;
        background-color: var(--iq-secondary);
        height: 4px;
        margin: 0 10px 0 10px;
        flex: 1;
        cursor: pointer;

        &::-webkit-slider-thumb {
            opacity: 0;
            transition: 0.3s;
            size: 10px !important;
        }

        &:hover::-webkit-slider-thumb {
            opacity: 1;
        }
    }

    .duration.sound {
        width: 100px;
    }

    .song__container {
        width: 30%;
    }

    .control-right__container {
        width: 30%;
    }

    .slider {
        width: 500px;
        background-color: #fff;
        border-radius: 99999px;
        height: 4px;
        margin: 0 12px;
        cursor: pointer;

        .slider__track {
            height: 100%;
            background-color: var(--iq-secondary);
            transition: 0.3s;
            position: relative;
            border-radius: 99999px;
        }
    }

    .slider.sound {
        width: 100px;
    }
    transition: 0.3s;
}

.is-not-expand {
    transform: translateY(80px);
}

.is-expand {
    transform: translateY(0);
}

.list__container {
    z-index: 999;
    transition: 0.5s;
    transform: translateX(100%);
    .list__playlist {
        background-color: white;
        color: black;
        height: 88vh;
        width: 410px;
        box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.2);
        padding: 8px;
        padding-bottom: 125px;
        overflow-y: overlay;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .active {
        z-index: 999;
    }
    .opacity-5 {
        opacity: 0.5;
    }
}

.list__container.on {
    animation: on ease 0.5s;
}

.list__container.off {
    animation: off ease 0.5s;
}

.next__playlist {
    overflow-y: overlay;
    max-height: 500px;
}

.next__playlist::-webkit-scrollbar {
    display: none;
}

@keyframes off {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes on {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
