.wrapper {
    z-index: 1000;

    .song__container {
        .thumbnail {
            width: 64px;
            height: 64px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .duration__container {
        span {
            display: block;
            min-width: 50px;
            display: flex;
            justify-content: center;
        }
    }

    .duration {
        border-radius: 9999px;
        width: 500px;
        background-color: var(--iq-secondary);
        height: 4px;
        margin: 0 10px 0 10px;
        flex: 1;
        cursor: pointer;

        &::-webkit-slider-thumb {
            opacity: 0;
            transition: 0.3s;
            size: 10px !important;
        }

        &:hover::-webkit-slider-thumb {
            opacity: 1;
        }
    }

    .duration.sound {
        width: 100px;
    }

    .song__container {
        width: 30%;
    }

    .control-right__container {
        width: 30%;
    }

    .slider {
        width: 500px;
        background-color: #fff;
        border-radius: 99999px;
        height: 4px;
        margin: 0 12px;
        cursor: pointer;

        .slider__track {
            // width: 100%;
            height: 100%;
            background-color: var(--iq-secondary);
            transition: 0.3s;
            position: relative;
            border-radius: 99999px;

            // .slider__thumb {
            //     width: 12px;
            //     height: 12px;
            //     border-radius: 50%;
            //     background-color: var(--iq-secondary);
            //     position: absolute;
            //     right: -4px;
            //     top: -10px;
            //     transform: translateY(50%);
            //     transition: 0.3s;
            //     background-color: black;
            // }
        }

        // &:hover .slider__thumb {
        //     opacity: 1;
        // }
    }

    .slider.sound {
        width: 100px;
    }
}
