.thumbnail__container {
    img {
        transition: 0.5s;
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
        .action__container {
            opacity: 1;
            visibility: visible;
        }
    }
}

.action__container {
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.liked {
    color: var(--iq-primary) !important;
}
.like {
    color: white;
}
